.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: blue;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav .nav-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: red;
    display: block;
  } 
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
