.sidenav {
    height: 100%;
    width: 265px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #130f40;
    overflow-x: hidden;
    padding-top: 120px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .text-color{
    color: #eb4d4b;
  }
